<header class="header-product">
  <div class="logo-product">
    <%= link_to image_tag('logo-blue.png'), root_path, class: "logo-product" %>
  </div>


  <ul class="menu align-right homepage-nav-bar"> 
    <li class="phone-number-header-product header-link-product"><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>

    <li class="besoin-aide header-link-product"><a href="#aide-popup" class="open-popup-link menu-link-product sliding-middle-out sliding-blue">Besoin d'aide ?</a></li>  
    
    <li class="header-link-product"><%= link_to 'Vendre', vendre_voiture_occasion_meilleur_prix_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>  
    <li class="header-link-product"><%= link_to 'Acheter', acheter_voiture_occasion_certifiee_garantie_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>
    <li class="header-link-product wrapper pourquoi-n7 sliding-blue">Pourquoi Nationale 7 ?
      <div class="sub-menu-homepage">
      <ul class="header-sub-menu">
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "sub-menu-link-product first-link sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'A propos', a_propos_de_nationale_7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
      </ul>
      </div>  
    </li>

    <div id="aide-popup" class="white-popup mfp-hide">
      <div class="popup-content">
      <p class="parlez-nous">Parlez nous ! (on est sympas et serviables)</p>
      <a class="help-button-chat" href="">Chat (suivez la bulle rouge)</a>
      <a class="help-button-email" href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a>
      <a class="help-button-phone" href="tel:0176390284">01 76 39 02 84</a>
      </div>
    </div>
  </ul>

  <ul id="mobile-menu">
    <li>POURQUOI NATIONALE 7 ?
      <ul>
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'A propos', a_propos_de_nationale_7_path, class: "menu-link-mobile" %></li>
      </ul>
    </li>
    <li><%= link_to 'ACHETER', acheter_voiture_occasion_certifiee_garantie_path, class: "menu-link-mobile" %></li>
    <li><%= link_to 'VENDRE', vendre_voiture_occasion_meilleur_prix_path, class: "menu-link-mobile" %></li>  
    <li class="besoin-aide"><a href="#aide-popup" class="open-popup-link menu-link-mobile">BESOIN D'AIDE ?</a></li>  
    <li class=""><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>
  </ul>  


</header>


<div class="ccm-grey-header">
  <h1 class="ccm-title">Tout savoir sur l'expérience Nationale 7</h1>
  <h3 class="ccm-subtitle">Vous êtes en bonne compagnie</h3>
</div>


<div class="ccm-intro-wrap">
	<div class="ccm-intro-acheter">
		<span class="ccm-intro-text verbe-span">ACHETER</span>
		<a href="#" class="ccm-intro-text decouvrir-span"><u>Découvrir</u></a>
		<i class="fa fa-angle-right fa-5x hvr-grow acheter-arrow"></i>
	</div>

	<div class="acheter-summary">
		<h1 class="acheter-ccm-h1">4 étapes pour acheter votre nouvelle voiture</h1>
		<h3 class="acheter-ccm-h3">Acheter en quelques clics</h3>
		<div class="summary-pictos-wrap wrap-acheter">
	  	<div class="summary-one-picto">
	  		<%= image_tag('acheter-reperage.jpg', class: "acheter-summary-picto") %>
	  		<p class="summary-p">Repérage de votre voiture</p>
	  	</div>
	  	<div class="summary-one-picto">
	  		<%= image_tag('acheter-commande.jpg', class: "acheter-summary-picto") %>
	  		<p class="summary-p">Commande de votre voiture</p>
	  	</div>
	  	<div class="summary-one-picto">
	  		<%= image_tag('acheter-livraison.jpg', class: "acheter-summary-picto") %>
	  		<p class="summary-p">Livraison chez vous</p>
	  	</div>  	
	  	<div class="summary-one-picto">
	  		<%= image_tag('acheter-garantie.jpg', class: "acheter-summary-picto") %>
	  		<p class="summary-p">Votre voiture toujours garantie</p>
	  	</div>  
	  </div>
	</div>

	<div class="ccm-intro-vendre">
		<span class="ccm-intro-text verbe-span">VENDRE</span>
		<a href="#" class="ccm-intro-text decouvrir-span"><u>Découvrir</u></a>
		<i class="fa fa-angle-left fa-5x hvr-grow vendre-arrow"></i>
	</div>

    <div class="vendre-summary">
  		<h1 class="vendre-ccm-h1">5 étapes pour vendre votre voiture</h1>
  		<h3 class="vendre-ccm-h3">Vous allez voir, il n'y a rien de plus simple !</h3>
  		<div class="summary-pictos-wrap wrap-vendre">
  	  	<div class="summary-picto-vendre">
  	  		<%= image_tag('vendre-estimation.jpg', class: "acheter-summary-picto") %>
  	  		<p class="summary-p"><span>Estimation</span><span>de votre voiture</span></p>
  	  	</div>
  	  	<div class="summary-picto-vendre">
  	  		<%= image_tag('vendre-expertise.jpg', class: "acheter-summary-picto") %>
  	  		<p class="summary-p"><span>Expertise</span><span>de votre voiture</span></p>
  	  	</div>
  	  	<div class="summary-picto-vendre">
  	  		<%= image_tag('vendre-mel.jpg', class: "acheter-summary-picto") %>
  	  		<p class="summary-p"><span>Mise en ligne</span><span>de votre voiture</span></p>
  	  	</div>  	
  	  	<div class="summary-picto-vendre">
  	  		<%= image_tag('vendre-gerer-acheteur.jpg', class: "acheter-summary-picto") %>
  	  		<p class="summary-p"><span>On s'occupe</span><span>des acheteurs</span></p>
  	  	</div>  
  	  	<div class="summary-picto-vendre">
  	  		<%= image_tag('vendre-enlevement.jpg', class: "acheter-summary-picto") %>
  	  		<p class="summary-p"><span>On gère l'enlèvement</span> <span>et le paiement</span></p>
  	  	</div>  
  	  </div>
  	</div>
<!--   </div>
 --></div>

<div class="acheter-content">
	<!-- Left side of road, html sequence is upside down to keep the first element as a reference point for margin-left -->
  <div class="acheter-content-wrap-4">
  	<div class="acheter-title-4">Garantie 6 mois</div>
  	<div class="acheter-p-4">
  		<p>Achetez l'esprit léger grâce à une garantie qui vous couvre en cas de pépin mécanique jusqu'à 6 mois après l'achat. <span>Cette garantie est gérée par notre partenaire MAPFRE et couvre l'ensemble des pièces critiques de la voiture.</span></p>
  	</div>
  </div>
  <%= image_tag('mascotte-bras-leves.png', class: "acheter-mascotte-4") %>
  <%= image_tag('acheter-4.png', class: "acheter-4") %>
  <%= image_tag('arbre.png', class: "acheter-arbre-3") %>
  <%= image_tag('arbre.png', class: "acheter-arbre-2") %>
  <%= image_tag('mascotte-gauche-leve.png', class: "acheter-mascotte-2") %>
  <%= image_tag('acheter-2.png', class: "acheter-2") %>
  <div class="acheter-content-wrap-2">
	  <div class="acheter-title-2">Commande et paiement sécurisé</div>
  	<div class="acheter-p-2">
  		<p>Un coup de fil et votre voiture est commandée. Le paiement s'effectue par virement, via LemonWay et BNP Paribas pour vous garantir une complète tranquilité d'esprit.</p>
  	</div>
  </div>  
  <%= image_tag('buisson.jpg', class: "acheter-buisson-1") %>

  <!-- Road (route) middle of ccm page  -->
  <%= image_tag('acheter-route.jpg', class: "acheter-route") %>

  <!-- Right side of the road, regular html sequence -->
  <%= image_tag('mascotte-bras-baisses.png', class: "acheter-mascotte-1") %>
  <%= image_tag('acheter-1.jpg', class: "acheter-1") %>
  <div class="acheter-content-wrap-1">
  	<div class="acheter-title-1">Faites connaissance avec votre voiture</div>
  	<div class="acheter-p-1">
  		<p>Pour chacune de nos voitures vous pouvez consulter des dizaines de photos haute-résolution, la liste des caractéristiques et options, ainsi que les résultats de l'expertise en 75 points.</p>
  	</div>
  </div>
  <%= image_tag('arbre.png', class: "acheter-arbre-1") %>
  <%= image_tag('mascotte-droit-leve.png', class: "acheter-mascotte-3") %>
  <%= image_tag('acheter-3.png', class: "acheter-3") %>
  <div class="acheter-content-wrap-3">
  	<div class="acheter-title-3">Livraison avec amour</div>
  	<div class="acheter-p-3">
  		<p>Nous assurons la livraison partout en France, avec un supplément de coût pour les livraisons longues distance. Paiement au coup de coeur, vous ne réglez qu'au moment de la livraison.</p>
  	</div>
  </div>
  <%= image_tag('arbre.png', class: "acheter-arbre-4") %>
  <button class="vendre-savoir">
  	Tout savoir pour vendre
	</button>

</div>

<div class="vendre-content">
	<!-- Left side of road, html sequence is upside down to keep the first element as a reference point for margin-left -->
  <%= image_tag('buisson.jpg', class: "vendre-buisson-2") %>
  <div class="vendre-content-wrap-4">
  	<div class="vendre-title-4">Laissez Nationale 7 faire son travail !</div>
  	<div class="vendre-p-4">
  		<p>Pas de soucis, nous nous occupons de tout et en particulier de vous trouver un acheteur. Avec un tel niveau d'information et de visibilité votre voiture va partir vite !</p>
  	</div>
  </div>
  <%= image_tag('mascotte-bras-leves.png', class: "vendre-mascotte-4") %>
  <%= image_tag('vendre-4.png', class: "vendre-4") %>
  <%= image_tag('arbre.png', class: "vendre-arbre-3") %>
  <%= image_tag('arbre.png', class: "vendre-arbre-2") %>
  <%= image_tag('mascotte-gauche-leve.png', class: "vendre-mascotte-2") %>
  <%= image_tag('vendre-2.png', class: "vendre-2") %>
  <div class="vendre-content-wrap-2">
	  <div class="vendre-title-2">Nos experts se déplacent chez vous</div>
  	<div class="vendre-p-2">
  		<p>Un de nos experts prend rendez-vous avec vous pour compléter l'analyse de votre voiture. Il se déplace où vous l'avez décidé pour faire le tour de votre voiture et la prendre en photo sous toutes ses coutures.</p>
  	</div>
  </div>  
  <%= image_tag('buisson.jpg', class: "vendre-buisson-1") %>

  <!-- Road (route) middle of ccm page  -->
  <%= image_tag('vendre-route.jpg', class: "vendre-route") %>

  <!-- Right side of the road, regular html sequence -->
  <%= image_tag('mascotte-bras-baisses.png', class: "vendre-mascotte-1") %>
  <%= image_tag('vendre-1.png', class: "vendre-1") %>
  <div class="vendre-content-wrap-1">
  	<div class="vendre-title-1"><span>Le point de départ :</span> l'estimation du prix de votre voiture</div>
  	<div class="vendre-p-1">
  		<p>Nous rassemblons les informations essentielles qui nous permettront d'estimer précisément la valeur marchande de votre voiture.</p>
  	</div>
  </div>
  <%= image_tag('arbre.png', class: "vendre-arbre-1") %>
  <%= image_tag('mascotte-droit-leve.png', class: "vendre-mascotte-3") %>
  <%= image_tag('vendre-3.png', class: "vendre-3") %>
  <div class="vendre-content-wrap-3">
  	<div class="vendre-title-3">La mise en ligne pour une visibilité maximale</div>
  	<div class="vendre-p-3">
  		<p>Une fois les vérifications terminées, nous mettrons en ligne sur notre site ainsi que sur les plus grandes plateformes françaises pour vous assurer une visibilité maximale.</p>
  	</div>
  </div>
  <%= image_tag('mascotte-bras-baisses.png', class: "vendre-mascotte-5") %>
  <%= image_tag('vendre-5.png', class: "vendre-5") %>
  <div class="vendre-content-wrap-5">
  	<div class="vendre-title-5">À nous la charge de l'enlèvement et du paiement</div>
  	<div class="vendre-p-5">
  		<p>Dès qu'un acheteur se manifeste nous venons chercher la voiture chez vous, et nous la livrons directement chez l'acheteur. Nous nous occupons bien sûr de gérer le paiement. Vous gardez la propriété de votre voiture tant que le transfert n'est pas sécurisé.</p>
  	</div>
  </div>  <%= image_tag('arbre.png', class: "vendre-arbre-4") %>
  <button class="acheter-savoir">
  	Tout savoir pour acheter
	</button>

</div>
	
</div>

<div class="ccm-bottom">
	
</div>

<!-- *********************** -->
<!-- Mobile version of page  -->
<!-- *********************** -->



<div class="ccm-intro-wrap-mobile">

  <div class="ccm-intro-acheter-mobile">
    <span class="ccm-intro-text verbe-span"><span>Acheter en</span> <span class="ccm-chiffre">4</span> étapes</span>
    <a href="#" class="ccm-intro-text decouvrir-span"><u>Découvrir</u></a>
  </div>

  <div class="ccm-intro-vendre-mobile">
    <span class="ccm-intro-text verbe-span"><span>Vendre en</span> <span class="ccm-chiffre">5</span> étapes</span>
    <a href="#" class="ccm-intro-text decouvrir-span"><u>Découvrir</u></a>
  </div>
  
</div>

<div class="acheter-content-mobile">
        <%= image_tag('acheter-reperage.jpg', class: "acheter-summary-picto") %>

        <%= image_tag('acheter-commande.jpg', class: "acheter-summary-picto") %>

        <%= image_tag('acheter-livraison.jpg', class: "acheter-summary-picto") %>

        <%= image_tag('acheter-garantie.jpg', class: "acheter-summary-picto") %>

</div>

<div class="vendre-content-mobile">

</div>

<div class="ccm-bottom-mobile">
  
</div>





