<header class="header-homepage">
  <div class="logo-homepage">
    <%= link_to image_tag('logo-homepage.png'), root_path, class: "logo-homepage" %>
  </div>


  <ul class="menu align-right homepage-nav-bar"> 
    <li class="phone-number-header-homepage header-link-homepage"><a href="tel:0176390284" class="header-number-homepage">01 76 39 02 84</a></li>

    <li class="besoin-aide header-link-homepage"><a href="#aide-popup" class="open-popup-link menu-link-homepage sliding-middle-out sliding-white">Besoin d'aide ?</a></li> 
    
    <li class="header-link-homepage"><%= link_to 'Vendre', vendre_voiture_occasion_meilleur_prix_path, class: "menu-link-homepage sliding-middle-out sliding-white" %></li>  
    <li class="header-link-homepage"><%= link_to 'Acheter', acheter_voiture_occasion_certifiee_garantie_path, class: "menu-link-homepage sliding-middle-out sliding-white" %></li>
    <li class="header-link-homepage wrapper pourquoi-n7 sliding-white">Pourquoi Nationale 7 ?
      <div class="sub-menu-homepage">
      <ul class="header-sub-menu">
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "sub-menu-link-homepage first-link sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'À propos', a_propos_de_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
      </ul>

      </div>  
    </li>

    <div id="aide-popup" class="white-popup mfp-hide">
      <div class="popup-content">
      <p class="parlez-nous">Parlez nous ! (on est sympas et serviables)</p>
      <a class="help-button-chat">Chat (suivez la bulle rouge)</a>
      <a class="help-button-email" href="mailto:bonjour@nationale-7.fr">bonjour@nationale-7.fr</a>
      <a class="help-button-phone" href="tel:0176390284">01 76 39 02 84</a>
      <p class="horaires-popup">Nous sommes ouverts du lundi au samedi de 9h à 20h !</p>
      </div>
    </div>   
  </ul>

  <ul id="mobile-menu">
    <li>POURQUOI NATIONALE 7 ?
      <ul>
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'À propos', a_propos_de_nationale_7_path, class: "menu-link-mobile" %></li>
      </ul>
    </li>
    <li><%= link_to 'ACHETER', acheter_voiture_occasion_certifiee_garantie_path, class: "menu-link-mobile" %></li>
    <li><%= link_to 'VENDRE', vendre_voiture_occasion_meilleur_prix_path, class: "menu-link-mobile" %></li>  
    <li class="besoin-aide"><a href="#aide-popup" class="open-popup-link menu-link-mobile">BESOIN D'AIDE ?</a></li>  
    <li class=""><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>
  </ul>  

  <section class="cd-intro homepage-tagline-container">
    <h1 class="cd-headline rotate-1 homepage-tagline">
      <div>
      <span class="tagline-span reduced-margin-right">Quand</span>
      <span class="cd-words-wrapper tagline-span">
        <b class="is-visible">ACHETER</b>
        <b>VENDRE</b>
      </span>sa voiture d'occasion
      </div>
      <div><span class="tagline-span">devient aussi agréable qu'un départ en vacances.</span></div>
    </h1>
  </section>


  <div class="header-button-homepage acheter-button">acheter</div>
  <div class="header-button-homepage vendre-button">vendre</div>

</header>

<div class="sub-explanation-homepage vendre-explanation">
  <%= image_tag "fleche-rouge.png", class: "fleche" %>
  <p class="sub-explanation-title vendre-title">La vente chez Nationale 7</p>
  <div class="sub-explanation-table">
    <ul class="sub-explanation-bullets">
      <li class="sub-explanation-li">La garantie d’un <strong>meilleur prix</strong> que chez le concessionnaire.</li>
      <li class="sub-explanation-li">Une gestion complète de la transaction.</br>
      <strong>Paiement et paperasse inclus.</strong></li>
      <li class="sub-explanation-li">Enlèvement de la voiture <strong>depuis chez vous.</strong></li>
    </ul>
  </div>
  <div class="sub-explanation-page-link vendre-link"><%= link_to raw('<strong>VENDRE</strong></br> VOTRE VOITURE'), vendre_voiture_occasion_meilleur_prix_path, class: "sub-explanation-a-link vendre-a-link" %></div>
</div>

<div class="sub-explanation-homepage acheter-explanation">
  <%= image_tag "fleche-bleue.png", class: "fleche" %>
  <p class="sub-explanation-title acheter-title">L'achat chez Nationale 7</p>
  <div class="sub-explanation-table">
    <ul class="sub-explanation-bullets">
      <li class="sub-explanation-li">Certification après une <strong>inspection </br> complète sur 75 points. Garantie 6 mois.</strong></li>
      <li class="sub-explanation-li"><strong>Livraison où vous voulez,</strong> quand vous voulez !</li>
      <li class="sub-explanation-li">Paiement à la livraison au <strong>meilleur prix !</strong></li>
    </ul>
  </div>
  <div class="sub-explanation-page-link acheter-link"><%= link_to raw('<strong>DÉCOUVRIR</strong></br> VOTRE FUTURE VOITURE'), acheter_voiture_occasion_certifiee_garantie_path, class: "sub-explanation-a-link acheter-a-link" %></div>
</div>

<%= render 'welcome/n7explanationindex' %>

<div class="section-clients-sereins">

  <p class="clients-sereins-explanation-title">Des clients sereins</p>
  <div class="title-green-line"></div>

  <div class='clients-slider'>
  
  <!-- *************************** -->
  <!-- Photos Success Club Desktop -->
  <!-- *************************** -->

    <div class="client-serein mini-countryman client-desktop">
      <div class="client-serein-caption mini-countryman-caption">
        <h3 style="color:#69a2d2;"><span>Marie-Christine</span><span>& Alain</span></h3>
        <p class="caption-p" ><span>C’est avec un léger pincement au coeur que Marie-Christine et Alain ont dû dire au-revoir à leur Mini Countryman.</span><span>Le lendemain elle faisait déjà le bonheur de son nouveau propriétaire !</span></p>
      </div>
    </div>    
    <div class="client-serein smart-1 client-desktop" >
      <div class="client-serein-caption smart-1-caption">
        <h3 style="color:#69a2d2;line-height:1.2;">Jonathan</h3>
        <p class="caption-p">Nationale 7 a trouvé un acheteur très rapidement pour la Smart de Jonathan et s'est occupé de tout jusqu'au paiement, en temps et en heure ! <span>Seul le réveil le jour de la livraison a été compliqué pour Jonathan !</span></p>
      </div>
    </div>
    <div class="client-serein smart-2 client-desktop">
      <div class="client-serein-caption smart-2-caption">
        <h3 style="color:#69a2d2;line-height:1.2;">Pierre-Olivier</h3>
        <p class="caption-p" >Pierre-Olivier était tout heureux de se faire livrer sa Smart (celle de Jonathan) au pied de la Tour Eiffel un samedi matin, toute propre et il n’a même pas eu à s’occuper de la carte grise !</p>
      </div>
    </div>
    <div class="client-serein fiat-500 client-desktop">
      <div class="client-serein-caption fiat-500-caption">
        <h3 style="color:#69a2d2;line-height:1.2;">Zaccharie</h3>
        <p class="caption-p" ><span>C’est exactement le modèle que recherchait Zaccharie pour partir étudier à Madrid !</span><span>Quelques jours plus tard, le voilà au volant sa Fiat 500, prêt pour le grand départ !</span></p>
      </div>
    </div>    

  <!-- ************************** -->
  <!-- Photos Success Club Mobile -->
  <!-- ************************** -->

<!--     <div class="client-serein smart-1 client-mobile" >
      <div class="client-serein-caption smart-1-caption">
        <h3 style="color:#69a2d2;">Jonathan</h3>
        <p class="caption-p">Nationale 7 a trouvé un acheteur très rapidement pour la Smart de Jonathan et s'est occupé de tout jusqu'au paiement !</p>
      </div>
    </div>
    <div class="client-serein fiat-500 client-mobile">
      <div class="client-serein-caption fiat-500-caption">
        <h3 style="color:#69a2d2;">Zaccharie</h3>
        <p class="caption-p" ><span>C’est exactement le modèle que recherchait Zaccharie pour partir étudier à Madrid !</span><span>Le voilà prêt pour le grand départ !</span></p>
      </div>
    </div>    
    <div class="client-serein smart-2 client-mobile">
      <div class="client-serein-caption smart-2-caption">
        <h3 style="color:#69a2d2;">Pierre-Olivier</h3>
        <p class="caption-p" >Pierre-Olivier était tout heureux de se faire livrer sa Smart, toute propre et il n’a même pas eu à s’occuper de la carte grise !</p>
      </div>
    </div> -->

  </div>

</div>

<div class="dernieres-voitures-section">
  <p class="dernieres-voitures-title">Nos dernières voitures</p>
  <div class="title-green-line"></div>

  <div class="row small-up-1 large-up-3" id="filterrific_results">
    
    <% @cars.each do |car| %>

      <script> 
        // This js snippet was put in erb because I couldn't figure out how to pass ruby variables in the js file
        $(document).ready(function(){

          $(".extra-info-layer").hide();

          $(".wrap-<%= car.id %>").mouseover(function () {
              $(".car-extra-info<%= car.id %>").show("fast");
          });

          $(".wrap-<%= car.id %>").mouseleave(function () {
            $(".car-extra-info<%= car.id %>").hide("fast");
          });
        });
      </script>
    
      <div class="column carItem<%= car.id %>" >
        <div class="picture-extras">
        <div class="wrap-<%= car.id %>">
          <%= link_to image_tag( @profile_photos.where(car_id: car.id).first.picture_url, :class => "car-image" ), { action: 'show', controller: 'cars',  id: car.slug } %>
        </div>
          <div style="position: relative; height: 0">
            <div class="car-extra-info<%= car.id %> extra-info-layer">
              <p class="engine-version"><%= car.motorisation %> <%= car.finition %> </p>
              <p class="mileage"> <%= number_with_delimiter(car.kilometrage, :delimiter => ' ') %> Km</p>
            </div>
          </div>
        </div>
        <p class="derniere-voiture-name">
         <%= car.marque %> <%= car.modele %> <%= car.annee %> 
        </p> </br>
        <p class="derniere-voiture-prix">
          <%= number_with_delimiter(car.prix_n7, :delimiter => ' ') %> €
        </p>
      </div>

    <% end %>
  </div>

  <div class="toutes-voitures-div">
    <%= link_to 'Voir toutes nos voitures', acheter_voiture_occasion_certifiee_garantie_path, class: "toutes-voitures-link" %>
    <div class="toutes-voitures-line"></div>
  </div>

</div>

