<div class="body-page-annonce">

	<%= @voiture_annonce.prenom %> met sa <%= @voiture_annonce.marque %> <%= @voiture_annonce.modele %> en vente, au meilleur prix garanti grâce à Nationale 7, tiers de confiance entre particuliers !

	*Cette <%= @voiture_annonce.modele %> en bref : 
	<ul>
		<li>- Modèle : </li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul> 

</div>

<%= %>
<%= %>
<%= %>