<div class="body-page-annonce">

	<p><%= @voiture_annonce.prenom %> met sa <%= @voiture_annonce.marque %> <%= @voiture_annonce.modele %> en vente, au meilleur prix garanti grâce à Nationale 7, tiers de confiance entre particuliers !</p>

	<p style="margin-bottom: 0em;" >*Cette <%= @voiture_annonce.modele %> en bref : </p>
	<ul style="margin-top: 0em;" >
		<li>Modèle : <%= @voiture_annonce.modele %></li>
		<li>Motorisation et finition : <%= @voiture_annonce.motorisation %> <%= @voiture_annonce.finition %></li>
		<li>Transmission : <%= @voiture_annonce.transmission %></li>
		<li>Carburant : <%= @voiture_annonce.energie %></li>
		<li>Année : </li>
		<li>Kilométrage : </li>
		<li>Mise en circulation : </li>
		<% if @voiture_annonce.nombre_proprietaires == 1 %>
			<li>1ère main</li>
		<% elsif @voiture_annonce.nombre_proprietaires == 2 %>
			<li>2ème main</li>
		<% elsif @voiture_annonce.nombre_proprietaires == 3 %>
			<li>3ème main</li>
		<% else %>
			<li><i>| Impossible de définir le nombre de mains ! |</i></li>
		<% end %>
		<li>Couleur extérieure : <%= @voiture_annonce.couleur_exterieure %></li>
		<li>Couleur intérieure : <%= @voiture_annonce.couleur_interieure %></li>
	</ul> 

	<p style="margin-bottom: 0em;" >*Les petits plus de cette <%= @voiture_annonce.modele %> : </p>
	<p style="margin-top: 0em;" ><%= @voiture_annonce.commentaire_general %></p>

	<p style="margin-bottom: 0em;" >*Ce que dit Auto-Plus : </p>
	<p style="margin-top: 0em;" ><%= @voiture_annonce.auto_plus %></p>

	<p style="margin-bottom: 0em;" >*Un achat malin avec Nationale 7 ! Ce véhicule est :</p>
	<ul style="margin-top: 0em;" >
		<li>Certifié par un expert, avec un examen eu 75 points et un test de conduite</li>
		<li>Garanti 6 mois pièces et main d’œuvre à partir de la cession</li>
		<li>Garanti 5 à 10 % moins cher que la moyenne du marché</li>
		<li>Sans paperasse et Nationale 7 peut aussi s’occuper de la carte grise pour vous</li>
		<li>Livré devant chez vous (gratuitement en Île-de-France)</li>
	</ul>

	<p style="margin-bottom: 0em;" >*Synthèse de l'expert :</p>
	<ul style="margin-top: 0em;" >
		<li>Conformité administrative : <%= @voiture_annonce.note_entretien %> / 10</li>
		<li>Sécurité : <%= @voiture_annonce.note_securite %> / 10</li>
		<li>Mécanique : <%= @voiture_annonce.note_mecanique %> / 10</li>
		<li>Carrosserie : <%= @voiture_annonce.note_carrosserie %> / 10</li>
		<li>Intérieur : <%= @voiture_annonce.note_interieur %> / 10</li>
	</ul>

	<p style="margin-bottom: 0em;" >*Principaux équipements et options (liste complète disponible sur www . nationale-7 . fr) :</p>
	<ul style="margin-top: 0em;" >
		<% @options.each do |option| %>
    	<li><%= option.description %></li>
    <% end %>
  </ul>

  <p>Venez faire une visite virtuelle complète et découvrir tous les avantages d’acheter votre véhicule avec Nationale 7 : photos HD, descriptif détaillé et rapport d’expertise disponibles sur www . nationale-7 . fr !</p>

  <p>Contactez Emmanuel au 01 76 39 02 84 ou au 06 37 34 15 36 ou sur www . nationale-7 . fr pour en savoir plus !</p>

  <p>
  <span>Note : (Bravo d’avoir lu jusqu'au bout !)</span>
  <span>À titre d’information, une note de :</span>
	<span>10/10 = le véhicule est irréprochable (quasi neuf si peu de km)</span>
	<span>5/10 = le véhicule a quelques années au compteur mais est en bon état</span>
	<span>0/10 = le véhicule passe juste la barre minimum du contrôle technique</span>
	</p>

</div>