<div class="contenu-annonce">
<%= @voiture_annonce.prenom %> met sa <%= @voiture_annonce.marque %> <%= @voiture_annonce.modele %> en vente, au meilleur prix garanti grâce à Nationale 7, tiers de confiance entre particuliers !
</div>

<%= %>
<%= %>
<%= %>