<%= form_for_filterrific @filterrific do |f| %>

<div>
  Constructeur
  <%= f.select(
    :with_make,
    @filterrific.select_options[:with_make],
    { include_blank: '- Any -' }
  )%>
</div>

<div>
  Motorisation
  <%= f.select(
    :with_fuel_type,
    @filterrific.select_options[:with_fuel_type],
    { include_blank: '- Any -' }
  )%>
</div>

<%= render_filterrific_spinner %>


<% end %>

<%= render(
  partial: 'cars/list',
  locals: { cars: @cars }
) %>

