<header class="header-product">
  <div class="logo-product">
    <%= link_to image_tag('logo-blue.png'), root_path, class: "logo-product" %>
  </div>


  <ul class="menu align-right homepage-nav-bar"> 
    <li class="phone-number-header-product header-link-product"><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>

    <li class="besoin-aide header-link-product"><a href="#aide-popup" class="open-popup-link menu-link-product sliding-middle-out sliding-blue">Besoin d'aide ?</a></li>  
    
    <li class="header-link-product"><%= link_to 'Vendre', vendre_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>  
    <li class="header-link-product"><%= link_to 'Acheter', acheter_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>
    <li class="header-link-product wrapper pourquoi-n7 sliding-blue">Pourquoi Nationale 7 ?
      <div class="sub-menu-homepage">
      <ul class="header-sub-menu">
        <li><%= link_to 'Comment ça marche ?', commentcamarche_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'Les prix N7', prixn7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'L\'expertise N7', expertisen7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'FAQ', faq_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'A propos', apropos_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
      </ul>

      </div>  
    </li>

    <div id="aide-popup" class="white-popup mfp-hide">
      <div class="popup-content">
      <p class="parlez-nous">Parlez nous ! (on est sympas et serviables)</p>
      <a class="help-button-chat" href="">Chat (suivez la bulle rouge)</a>
      <a class="help-button-email" href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a>
      <a class="help-button-phone" href="tel:0176390284">01 76 39 02 84</a>
      </div>
    </div>
      
  </ul>

</header>


  <div class="car-header-description">
<h1><strong><%= @car.make %> <%= @car.model %></strong>  &nbsp;<%= @car.version_trim %> &nbsp;<%= @car.year %> | <%= @car.mileage%> Km </h1>
</div>
  
  <div class='slider-for'>
    <% @photos.each do |photo| %>
    <div><img src="<%=photo.picture_url%>" width="100%" height="100%" ></div>
    <% end %>
  </div>

  <div class='slider-nav'>
    <% @photos.each do |photo| %>
    <div><img src="<%=photo.picture_url%>" width="80%" height="80%" ></div>
    <% end %>
  </div>

<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>

<ul class="vertical menu" data-multi-expand="true" data-accordion-menu >
    <li>
      <a href="#">Quelques mots du propriétaire et de l'expert</a>
      <ul class="menu horizontal nested">
        <ul class="tabs" data-tabs id="comments-tabs">
          <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Le mot du propriétaire</a></li>
          <li class="tabs-title"><a href="#panel2">Le mot de l'expert</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="comments-tabs">
          <div class="tabs-panel is-active" id="panel1">
            <p><%= @car.owner_comment %></p>
          </div>
          <div class="tabs-panel" id="panel2">
            <p><%= @car.inspector_comment %></p>
          </div>
        </div>
      </ul>
    </li>
    <li>
      <a href="#">Caractéristiques détailées de cette <%= @car.make %></a>
      <ul class="menu vertical nested">
        <ul class="tabs" data-tabs id="features-tabs">
          <li class="tabs-title is-active"><a href="#panel3" aria-selected="true">Caractéristiques</a></li>
          <li class="tabs-title"><a href="#panel4">Options</a></li>
          <li class="tabs-title"><a href="#panel5">Moteur et consommation</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="features-tabs">
          <div class="tabs-panel is-active" id="panel3">
            <ul>
              <li>Marque: <%= @car.make %></li>
              <li>Modèle: <%= @car.model %></li>
              <li>Année: <%= @car.year %></li>
              <li>Motorisation: <%= @car.engine %></li>
              <li>Version: <%= @car.version_trim %></li>
            </ul>
          </div>
          <div class="tabs-panel" id="panel4">
            <ul>
              <% @options.each do |option| %>
              <li><%= option.description %></li>
              <% end %>
            </ul>              
          </div>
          <div class="tabs-panel" id="panel5">
            <ul>
              <li><%= @car.engine_size %></li>
              <li><%= @car.horsepower %></li>
            </ul>
          </div>
        </div>
      </ul>
    </li>
    <li>
      <a href="#">Ce que dit l'inspection</a>
      <ul class="menu vertical nested">
        <li><a href="#">Item 1A</a></li>
        <li><a href="#">Item 1B</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Un prix à faire transpirer votre garagiste</a>
      <ul class="menu vertical nested">
        <li><a href="#">Item 1A</a></li>
        <li><a href="#">Item 1B</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Garantie Projet Vroom, pour repartir l'esprit tranquille</a>
      <ul class="menu vertical nested">
        <li><a href="#">Item 1A</a></li>
        <li><a href="#">Item 1B</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Comment prendre le volant de cette <%= @car.make %> <%= @car.model %></a>
      <ul class="menu vertical nested">
        <div align="center">
<!--           <h3>Contactez <%= @inspector.first_name %> qui a expertisé cette <%= @car.make %> <%= @car.model %> </h3>
 -->
          <%= simple_form_for @contact, :html => {:class => 'form-inline' } do |f| %>
            <%= f.input :name, :label => 'Nom', :required => true %>
            <%= f.input :email, :label => 'Email', :required => true %>
            <%= f.input :phone_number, :label => 'Numéro de téléphone (facultatif)', :required => false %> 
            <%= f.input :message, :as => :text, :required => true %>
            <%= f.hidden_field :details, :value => [@car.id, @car.make, @car.model, @car.vroom_price, @inspector ] %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              </br>
              <%= f.button :submit, 'Envoyer le message', :class=> "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </ul>
    </li>
</ul>

