<header class="header-product">
  <div class="logo-product">
    <%= link_to image_tag('logo-blue.png'), root_path, class: "logo-product" %>
  </div>


  <ul class="menu align-right homepage-nav-bar"> 
    <li class="phone-number-header-product header-link-product"><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>

    <li class="besoin-aide header-link-product"><a href="#aide-popup" class="open-popup-link menu-link-product sliding-middle-out sliding-blue">Besoin d'aide ?</a></li>  
    
    <li class="header-link-product"><%= link_to 'Vendre', vendre_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>  
    <li class="header-link-product"><%= link_to 'Acheter', acheter_path, class: "menu-link-product sliding-middle-out sliding-blue" %></li>
    <li class="header-link-product wrapper pourquoi-n7 sliding-blue">Pourquoi Nationale 7 ?
      <div class="sub-menu-homepage">
      <ul class="header-sub-menu">
        <li><%= link_to 'Comment ça marche ?', commentcamarche_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'Les prix N7', prixn7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'L\'expertise N7', expertisen7_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'FAQ', faq_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
        <li><%= link_to 'A propos', apropos_path, class: "sub-menu-link-product sliding-middle-out sliding-blue" %></li>
      </ul>

      </div>  
    </li>

    <div id="aide-popup" class="white-popup mfp-hide">
      <div class="popup-content">
      <p class="parlez-nous">Parlez nous ! (on est sympas et serviables)</p>
      <a class="help-button-chat" href="">Chat (suivez la bulle rouge)</a>
      <a class="help-button-email" href="mailto:bonjour@nationale7.co">bonjour@nationale7.co</a>
      <a class="help-button-phone" href="tel:0176390284">01 76 39 02 84</a>
      </div>
    </div>
      
  </ul>

</header>
 
    <div class='photo-car-description'>
      <h2 class='photo-car-description-h2'><%= @car.marque %> <%= @car.modele %> <%= @car.annee %>
      </h2>
      <p class='photo-car-description-p'><%= @car.motorisation %> - <%= @car.finition %> | <%= @car.kilometrage %> Km</p>
    </div>
  <div class='slider-for'>
    <% @photos.each do |photo| %>
    <div><img src="<%=photo.picture_url%>" width="100%" height="100%" ></div>
    <% end %>
  </div>

  <div class='slider-nav'>
    <% @photos.each do |photo| %>
    <div><img src="<%=photo.picture_url%>" width="80%" height="80%" ></div>
    <% end %>
  </div>

<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>


  <div class="prix-n7"><%= number_with_delimiter(@car.prix_n7, :delimiter => ' ') %> €</div>
  <div class="achetez-button">achetez-moi</div>
  <div class="certifie-experveo">
    <%= image_tag "certifie-experveo.png" %>
  </div>

<div class="car-data-menu">
  <ul class="vertical accordion-menu menu" data-accordion-menu >
      <li>
        <a href="#" class="car-menu-title">Caractéristiques détailées de cette <%= @car.marque %></a>
        
        <ul class="menu vertical sublevel-1">
          
          <ul class="tabs car-menu-subtitle-ul" data-tabs id="features-tabs">
            <li class="tabs-title is-active car-menu-subtitle-li"><a href="#panel3"  class="car-menu-subtitle-a" aria-selected="true">Caractéristiques</a></li>
            <li class="tabs-title car-menu-subtitle-li"><a href="#panel4" class="car-menu-subtitle-a">Options</a></li>
            <li class="tabs-title car-menu-subtitle-li"><a href="#panel5" class="car-menu-subtitle-a">Moteur et consommation</a></li>
          </ul>
          <div class="tabs-content menu-caracteristique" data-tabs-content="features-tabs">
            <div class="tabs-panel is-active" id="panel3">
              <ul class="two-column-section">
                <li class="car-menu-li"><strong>Marque :</strong> <%= @car.marque %></li>
                <li class="car-menu-li"><strong>Modèle :</strong> <%= @car.modele %></li>
                <li class="car-menu-li"><strong>Année :</strong> <%= @car.annee %></li>
                <li class="car-menu-li"><strong>Motorisation :</strong> <%= @car.motorisation %></li>
                <li class="car-menu-li"><strong>Finition :</strong> <%= @car.finition %></li>
                <li class="car-menu-li"><strong>Énergie :</strong> <%= @car.energie %></li>
                <li class="car-menu-li"><strong>Transmission :</strong> <%= @car.transmission %></li>
                <li class="car-menu-li"><strong>Nombre de portes :</strong> <%= @car.nombre_portes %></li>
                <li class="car-menu-li"><strong>Nombre de places :</strong> <%= @car.nombre_places %></li>
                <li class="car-menu-li"><strong>Kilométrage :</strong> <%= @car.kilometrage %> Km</li>
                <li class="car-menu-li"><strong>Nombre de propriétaires précédents :</strong> <%= @car.nombre_proprietaires %></li>
                <li class="car-menu-li"><strong>Date de première mise en circulation :</strong> <%= @car.premiere_mise_en_circulation %></li>
                <li class="car-menu-li"><strong>Couleur extérieure :</strong> <%= @car.couleur_exterieure %></li>
                <li class="car-menu-li"><strong>Matière intérieure :</strong> <%= @car.matiere_interieure %></li>
                <li class="car-menu-li"><strong>Couleur intérieure :</strong> <%= @car.couleur_interieure %></li>
              </ul>
            </div>
            <div class="tabs-panel" id="panel4">
              <ul class="two-column-section">
                <% @options.each do |option| %>
                <li class="car-menu-li"><%= option.description %></li>
                <% end %>
              </ul>              
            </div>
            <div class="tabs-panel" id="panel5">
              <ul class="two-column-section">
                <li class="car-menu-li"><strong>Puissance din :</strong> <%= @car.puissance_din %></li>
                <li class="car-menu-li"><strong>Puissance fiscale :</strong> <%= @car.puissance_fiscale %></li>
                <li class="car-menu-li"><strong>Cylindrée :</strong> <%= @car.cylindree %> cm3</li>
                <li class="car-menu-li"><strong>Nombre de cylindres :</strong> <%= @car.nombre_cylindres %></li>
                <li class="car-menu-li"><strong>Nombre de soupapes :</strong> <%= @car.nombre_soupapes %></li>
                <li class="car-menu-li"><strong>Roues motrices :</strong> <%= @car.roues_motrices %></li>
                <li class="car-menu-li"><strong>Consommation cycle urbain :</strong> </br><%= @car.consommation_urbain %> l/100 km</li>
                <li class="car-menu-li"><strong>Consommation cycle mixte :</strong> </br><%= @car.consommation_mixte %> l/100 km</li>
                <li class="car-menu-li"><strong>Consommation cycle extra urbain :</strong> </br><%= @car.consommation_extra_urbain %> l/100 km</li>
                <li class="car-menu-li"><strong>Émission co2 :</strong> <%= @car.emission_co2 %> g/km</li>
              </ul>
            </div>
          </div>
        </ul>
      </li>
      
      <li>
        <a href="#" class="car-menu-title">Ce que dit l'inspection</a>
        <ul class="menu vertical sublevel-1">
          <li>
          <a href="#" class="inspection-title">Historique et entretien - <%= @car.note_entretien %>/10</a>
            <ul class="menu vertical sublevel-2">
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Certificat d'immatriculation :</strong></div>
                  <% if @car.certificat_immatriculation == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.certificat_immatriculation_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Certificat de non-gage :</strong></div>
                  <% if @car.certificat_situation == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.certificat_situation_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Facture d'achat :</strong></div>
                  <% if @car.facture_achat == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.facture_achat_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Carnet d'entretien :</strong></div> 
                  <% if @car.carnet_entretien == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.carnet_entretien_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Notice d'utilisation :</strong></div>
                  <% if @car.notice_utilisation == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.notice_utilisation_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Factures d'entretien :</strong></div>
                  <% if @car.facture_entretien == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.facture_entretien_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Double des clés :</strong></div>
                  <% if @car.double_cles == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.double_cles_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Contrôle technique :</strong></div> 
                  <% if @car.controle_technique == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.controle_technique_commentaire %></div>
                </li>
                <li class="inspection-line">
                  <strong>Prochain contrôle technique :</strong> <%= @car.echeance_controle_technique %>
                </li>
                <li class="inspection-line">
                  <strong>Prochaine révision :</strong> <%= @car.echeance_revision %>
                </li>
                <li class="inspection-line">
                  <strong>Prochain entretien de la climatisation :</strong> <%= @car.echeance_entretien_climatisation %>
                </li>
                <li class="inspection-line">
                  <strong>Prochain remplacement de la distribution :</strong> <%= @car.echeance_remplacement_distribution %>
                </li>
            </ul>
          </li>
          <li>
            <a href="#" class="inspection-title">Sécurité - <%= @car.note_securite %>/10</a>
            <ul class="menu vertical sublevel-2">
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Présence des airbags :</strong></div>
                  <% if @car.presence_airbag == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>           
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Désactivation airbag passager :</strong></div> 
                  <% if @car.desactivation_airbag_passager == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                  <div class="boolean-adjustment">&emsp; <%= @car.desactivation_airbag_passager_commentaire %></div>
                </li>             
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Présence des ceintures :</strong></div>
                  <% if @car.presence_ceintures == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>             
                <li class="inspection-line">
                  <strong>Fonctionnement des ceintures : </strong> <%= @car.fonctionnement_ceintures %>
                </li>             
                <li class="inspection-line">
                  <strong>Optiques et feux avants : </strong> <%= @car.optiques_feux_avants %>
                </li>             
                <li class="inspection-line">
                  <strong>Clignotants : </strong> <%= @car.repetiteurs %>
                </li>             
                <li class="inspection-line">
                  <strong>Feux arrières : </strong> <%= @car.feux_arrieres %>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement chauffage et ventilation : </strong></div> 
                  <% if @car.fonctionnement_chauffage_ventilation == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>                
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement ordinateur et instruments : </strong></div> 
                  <% if @car.fonctionnement_ordinateur_instruments == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>                
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Présence des rétroviseurs : </strong></div> 
                  <% if @car.presence_retroviseurs == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <strong>État des rétroviseurs : </strong> <%= @car.etat_retroviseurs %>
                </li>                
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement des rétroviseurs : </strong></div> 
                  <% if @car.fonctionnement_retroviseurs == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement des essuie glaces : </strong></div>
                  <% if @car.fonctionnement_essuie_glaces == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <strong>État des balais : </strong> <%= @car.etat_balais %>
                </li>                
                <li class="inspection-line">
                  <strong>Fonctionnement du frein à main : </strong> <%= @car.frein_main %>
                </li> 
                <li class="inspection-line">
                  <strong>Efficacité du freinage : </strong> <%= @car.efficacite_freinage %>
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Freinage en ligne :</strong></div>
                  <% if @car.freinage_en_ligne == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line">
                  <strong>Efficacité des suspensions : </strong> <%= @car.efficacite_suspension %>
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Accélère en ligne :</strong></div>
                  <% if @car.accelere_en_ligne == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Roule en ligne :</strong></div>
                  <% if @car.roule_en_ligne == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line">
                  <strong>État de la direction : </strong> <%= @car.etat_direction %>
                </li>

                <li class="inspection-line margin-pneus">
                <strong>Monte d'origine des pneus avant </strong> 
                </li> 
                <li class="inspection-line"><strong>Largeur :</strong> <%= @car.pneu_AV_largeur %> mm</li>
                <li class="inspection-line"><strong>Hauteur :</strong> <%= @car.pneu_AV_hauteur %> %</li>
                <li class="inspection-line"><strong>Diamètre :</strong> <%= @car.pneu_AV_diametre %> pouces</li>
                <li class="inspection-line"><strong>Indice de charge :</strong> <%= @car.pneu_AV_charge %></li>

                <li class="inspection-line margin-pneus">
                <strong>Monte d'origine des pneus arrière </strong> 
                </li> 
                <li class="inspection-line"><strong>Largeur :</strong> <%= @car.pneu_AR_largeur %> mm</li>
                <li class="inspection-line"><strong>Hauteur :</strong> <%= @car.pneu_AR_hauteur %> %</li>
                <li class="inspection-line"><strong>Diamètre :</strong> <%= @car.pneu_AR_diametre %> pouces</li>
                <li class="inspection-line"><strong>Indice de charge :</strong> <%= @car.pneu_AR_charge %></li>
                
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Pneumatiques conformes à l'origine :</strong></div>
                  <% if @car.pneumatiques_conformes == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line margin-pneus">
                <strong>Pneu avant droit </strong> 
                </li> 
                <li class="inspection-line"><strong>État :</strong> <%= @car.pneu_AVD_etat %></li>
                <li class="inspection-line"><strong>Usure :</strong> <%= @car.pneu_AVD_usure %> %</li>
                <li class="inspection-line margin-pneus">
                <strong>Pneu avant gauche </strong> 
                </li> 
                <li class="inspection-line"><strong>État :</strong> <%= @car.pneu_AVG_etat %></li>
                <li class="inspection-line"><strong>Usure :</strong> <%= @car.pneu_AVG_usure %> %</li>
                <li class="inspection-line margin-pneus">
                <strong>Pneu arrière droit </strong> 
                </li> 
                <li class="inspection-line"><strong>État :</strong> <%= @car.pneu_ARD_etat %></li>
                <li class="inspection-line"><strong>Usure :</strong> <%= @car.pneu_ARD_usure %> %</li>
                <li class="inspection-line margin-pneus">
                <strong>Pneu arrière gauche </strong> 
                </li> 
                <li class="inspection-line"><strong>État :</strong> <%= @car.pneu_ARG_etat %></li>
                <li class="inspection-line"><strong>Usure :</strong> <%= @car.pneu_ARG_usure %> %</li>
                <li class="inspection-line margin-pneus">
                <strong>Roue de secours </strong> 
                </li> 
                <li class="inspection-line"><strong>État :</strong> <%= @car.roue_secours_etat %></li>
                <li class="inspection-line"><strong>Usure :</strong> <%= @car.roue_secours_usure %> %</li>
                <div style="height:0.8em;"></div>
                <li class="inspection-line"><strong>Présence de l'outillage à bord :</strong> <%= @car.presence_outillage_bord %></li>
                <li class="inspection-line"><strong>Présence nécessaire anti-crevaison :</strong> <%= @car.presence_necessaire_anti_crevaison %></li>
                <li class="inspection-line"><strong>Fonctionnement des sièges :</strong> <%= @car.fonctionnement_sieges %></li>
            </ul>
          </li>
          <li>
            <a href="#" class="inspection-title">Mécanique - <%= @car.note_mecanique %>/10</a>
            <ul class="menu vertical sublevel-2">
                <li class="inspection-line"><strong>Aspect du compartiment moteur :</strong> <%= @car.aspect_compartiment_moteur %></li>
                <li class="inspection-line"><strong>Niveau d'huile moteur :</strong> <%= @car.niveau_huile_moteur %></li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fuite d'huile moteur :</strong></div>
                  <% if @car.fuite_huile_moteur == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line"><strong>Niveau de liquide de frein :</strong> <%= @car.niveau_liquide_frein %></li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fuite de liquide de frein :</strong></div>
                  <% if @car.fuite_liquide_frein == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line"><strong>Niveau d'huile de direction assistée :</strong> <%= @car.niveau_huile_DA %></li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fuite d'huile de direction assistée :</strong></div>
                  <% if @car.fuite_huile_DA == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line"><strong>Niveau de liquide de refroidissement :</strong> <%= @car.niveau_liquide_refroidissement %></li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fuite de liquide de refroidissement :</strong></div>
                  <% if @car.fuite_liquide_refroidissement == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fluides étrangers dans le liquide de refroidissement :</strong></div>
                  <% if @car.fluides_etrangers_dans_liquide_refroidissement == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de fluides étrangers dans l'huile moteur :</strong></div>
                  <% if @car.fluides_etrangers_dans_huile_moteur == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line"><strong>Démarrage à froid :</strong> <%= @car.demarrage_froid %>
                </li>
                <li class="inspection-line"><strong>Démarrage à chaud :</strong> <%= @car.demarrage_chaud %>
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement démarreur :</strong></div>
                  <% if @car.fonctionnement_demarreur == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line"><strong>Souffle au bouchon de remplissage d'huile :</strong> <%= @car.souffle_bouchon_huile %>
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong> Absence de fumée d'échappement :</strong></div>
                  <% if @car.presence_fumee_echappement == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li> 
                <li class="inspection-line"><strong>Charge de l'alternateur :</strong> <%= @car.charge_alternateur %>
                </li> 
                <li class="inspection-line"><strong>Fonctionnement de l'embrayage :</strong> <%= @car.fonctionnement_embrayage %>
                </li> 
                <li class="inspection-line"><strong>Présence de jeu sur le levier de vitesse :</strong> <%= @car.presence_jeu_levier_vitesse %>
                </li> 
                <li class="inspection-line"><strong>Passage des vitesses :</strong> <%= @car.passage_vitesses %>
                </li> 
                <li class="inspection-line"><strong>Accélérations franches :</strong> <%= @car.accelerations_franches %>
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de bruit de roulement :</strong></div>
                  <% if @car.presence_bruit_roulement == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de bruit au niveau des trains roulants :</strong></div>
                  <% if @car.presence_bruit_trains_roulants == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Absence de bruit à l'échappement :</strong></div>
                  <% if @car.presence_bruit_echappement == false %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line"><strong>Fonctionnement du régulateur de vitesse :</strong> <%= @car.fonctionnement_regulateur_vitesse %>
                </li> 
                <li class="inspection-line"><strong>Fonctionnement du limiteur de vitesse :</strong> <%= @car.fonctionnement_limiteur_vitesse %>
                </li> 
                <li class="inspection-line"><strong>Fonctionnement de l'aide au stationnement :</strong> <%= @car.fonctionnement_aide_stationnement %>
                </li> 
            </ul>
          </li>
          <li>
            <a href="#" class="inspection-title">Carrosserie - <%= @car.note_carrosserie %>/10</a>
            <ul class="menu vertical sublevel-2">
                <li class="inspection-line"><strong>État du vitrage :</strong> <%= @car.etat_vitrage %>
                </li> 
                <li class="inspection-line"><strong>État de la capote :</strong> <%= @car.etat_capote %>
                </li> 
                <li class="inspection-line"><strong>Différence de teinte de carrosserie :</strong> <%= @car.difference_teinte_carrosserie %>
                </li>
                <li class="inspection-line"><strong>Ajustement des éléments de carrosserie :</strong> <%= @car.ajustement_elements_carrosserie %>
                </li> 
                <li class="inspection-line"><strong>Présence de corrosion :</strong> <%= @car.presence_corrosion %>
                </li> 
                <li class="inspection-line"><strong>Présence de dommages et traces de réparation :</strong> <%= @car.presence_dommages_traces_reparation %>
                </li> 
            </ul>
          </li>
          <li>
            <a href="#" class="inspection-title">Intérieur - <%= @car.note_interieur %>/10</a>
            <ul class="menu vertical sublevel-2">
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement de la fermeture centralisée :</strong></div>
                  <% if @car.fonctionnement_fermeture_centralisee == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                <strong>État de la planche de bord:</strong> <%= @car.etat_planche_bord %>
                </li> 
                <li class="inspection-line">
                <strong>État des garnitures:</strong> <%= @car.etat_garnitures %>
                </li> 
                <li class="inspection-line">
                <strong>État des sièges:</strong> <%= @car.etat_sieges %>
                </li> 
                <li class="inspection-line">
                <strong>État des moquettes:</strong> <%= @car.etat_moquettes %>
                </li> 
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement éclairage intérieur :</strong></div>
                  <% if @car.fonctionnement_eclairage_interieur == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement vitres électriques :</strong></div>
                  <% if @car.fonctionnement_vitres_electriques == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement de la climatisation :</strong></div>
                  <% if @car.fonctionnement_climatisation == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                  <div class="boolean-adjustment"><strong>Fonctionnement des commandes autoradio :</strong></div>
                  <% if @car.fonctionnement_autoradio_commandes == true %>
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                  <% else %>
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                  <% end %> 
                </li>
                <li class="inspection-line">
                <strong>Fonctionnement du GPS:</strong> <%= @car.fonctionnement_GPS %>
                </li> 
            </ul>
          </li>
        </ul>        
      </li>
      
      <li>
        <a href="#" class="car-menu-title">Garantie, pour repartir l'esprit tranquille</a>
        <ul class="menu vertical sublevel-1">
          <li><a href="#">Item 1A</a></li>
          <li><a href="#">Item 1B</a></li>
        </ul>
      </li>
  </ul>
</div>

  <div class="contact-wrapper">
      <p class="contact-title">Prenez le volant de cette <%= @car.marque %> <%= @car.modele %> !</p> 
      <p class="contact-copy">Pour réserver cette voiture ou pour en savoir plus, remplissez le formulaire ci-dessous.</p>
      <p class="contact-copy">Nous vous rappellerons dans les plus brefs délais.</p>
    <div class="contact-form">

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :email, :label => 'Votre email', :required => false %>
        <%= f.input :phone_number, :label => 'Votre numéro de téléphone', :required => false %> 
        <%= f.input :message, :label => 'Vos questions, vos envies, dites-nous tout ! (libre)', :as => :text, :required => false, :input_html => { :value => 'Bonjour, cette voiture m\'intéresse. Merci de me recontacter !' } %>
        <%= f.hidden_field :details, :value => [@car.id, @car.marque, @car.modele, @car.prix_n7 ] %>

      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Envoyer', :class=> "contact-form-button" %>
      </div>
      <% end %>
    </div>
  </div>

<div class="section-nationale7-explanation">
  <p class="cest-quoi-explanation-title">Nationale 7, c'est quoi ?</p>
  <div class="title-green-line"></div>
  
  <div class="four-sub-sections-wrap">
    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "meilleur-prix.jpg" %>
      </div>
      <div class="sub-section-title">
        MEILLEUR PRIX </br>GARANTI
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Le vendeur en obtient plus.</p>
        <p class="sub-section-copy-line">L’acheteur paye moins.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "inspection-garantie.jpg" %>
      </div>
      <div class="sub-section-title">
        INSPECTION EN 75 POINTS</br>ET GARANTIE 6 MOIS
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Des professionnels à votre service.</p>
        <p class="sub-section-copy-line">Finies les mauvaises surprises.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "livraison-essai.jpg" %>
      </div>
      <div class="sub-section-title">
        LIVRAISON ET ESSAI</br>CHEZ VOUS
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Voitures préparées avec soin, livrées avec amour.</p>
      </div>
    </div>

    <div class="sub-section-wrap">
      <div class="sub-section-picto">  
        <%= image_tag "paiement-paperasse.jpg" %>
      </div>
      <div class="sub-section-title">
        PAIEMENT SÉCURISÉ</br>ET PAPERASSE 100% GÉRÉE
      </div>
      <div class="sub-section-copy">
        <p class="sub-section-copy-line">Transaction au coup </br> de coeur sans. Prise de tête.</p>
      </div>
    </div>
  </div>
</div>


