<div>
  <% flash.each do |key, value| %>
    <% if flash[:alert] %>
      <div class="alert-message">
        <a href="#" data-dismiss="alert" class="alert-dismiss">×</a>
          <%= value %>
      </div>    
    <% else %>
      <div class="notice-message">
        <a href="#" data-dismiss="alert" class="alert-dismiss">×</a>
          <%= value %>
      </div>
    <% end %>
  <% end %>
</div>

<header class="header-vendre">
  <div class="logo-homepage">
    <%= link_to image_tag('logo-homepage.png'), root_path, class: "logo-homepage" %>
  </div>


  <ul class="menu align-right homepage-nav-bar"> 
    <li class="phone-number-header-homepage header-link-homepage"><a href="tel:0176390284" class="header-number-homepage">01 76 39 02 84</a></li>

    <li class="besoin-aide header-link-homepage"><a href="#aide-popup" class="open-popup-link menu-link-homepage sliding-middle-out sliding-white">Besoin d'aide ?</a></li>  
    
    <li class="header-link-homepage"><%= link_to 'Vendre', vendre_voiture_occasion_path, class: "menu-link-homepage sliding-middle-out sliding-white" %></li>  
    <li class="header-link-homepage"><%= link_to 'Acheter', acheter_voiture_occasion_path, class: "menu-link-homepage sliding-middle-out sliding-white" %></li>
    <li class="header-link-homepage wrapper pourquoi-n7 sliding-white">Pourquoi Nationale 7 ?
      <div class="sub-menu-homepage">
      <ul class="header-sub-menu">
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "sub-menu-link-homepage first-link sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
        <li><%= link_to 'À propos', a_propos_de_nationale_7_path, class: "sub-menu-link-homepage sliding-middle-out sliding-black" %></li>
      </ul>

      </div>  
    </li>

    <div id="aide-popup" class="white-popup mfp-hide">
      <div class="popup-content">
      <p class="parlez-nous">Parlez nous ! (on est sympas et serviables)</p>
      <a class="help-button-chat" href="">Chat (suivez la bulle rouge)</a>
      <a class="help-button-email" href="mailto:bonjour@nationale-7.fr">bonjour@nationale-7.fr</a>
      <a class="help-button-phone" href="tel:0176390284">01 76 39 02 84</a>
      <p class="horaires-popup">Nous sommes ouverts du lundi au samedi de 9h à 20h !</p>
      </div>
    </div>
  </ul>

  <ul id="mobile-menu">
    <li>POURQUOI NATIONALE 7 ?
      <ul>
        <li><%= link_to 'Comment ça marche ?', comment_ca_marche_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'Les prix N7', les_prix_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'L\'expertise N7', expertise_nationale_7_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'FAQ', foire_aux_questions_path, class: "menu-link-mobile" %></li>
        <li><%= link_to 'À propos', a_propos_de_nationale_7_path, class: "menu-link-mobile" %></li>
      </ul>
    </li>
    <li><%= link_to 'ACHETER', acheter_voiture_occasion_path, class: "menu-link-mobile" %></li>
    <li><%= link_to 'VENDRE', vendre_voiture_occasion_path, class: "menu-link-mobile" %></li>  
    <li class="besoin-aide"><a href="#aide-popup" class="open-popup-link menu-link-mobile">BESOIN D'AIDE ?</a></li>  
    <li class=""><a href="tel:0176390284" class="header-number-product">01 76 39 02 84</a></li>
  </ul>  

  <div class="vendre-tagline-wrap">
    <h1 class="vendre-h1-tagline">Vendez votre voiture, <span>économisez des milliers d'euros, sans bouger de chez vous !</span></h1>
    <h2 class="vendre-h2-tagline"><span>Commençons par une évaluation gratuite de votre véhicule !</span><span>Soumettez le formulaire ci-dessous pour qu'un de nos experts vous rappelle dans la journée.</span></h2>
  </div>

</header>

    <div class="mascotte-vendre-div">
      <%= image_tag('mascotte-footer.png', class: "mascotte-vendre hvr-buzz-out") %>
    </div>

    <div class="sans-engagement">
      <p><strong><span>Sans engagement,</span>
      <span>on vous rappelle immédiatement !</span></p></strong>
    </div>


    <div class="vendre-form">

      <%= simple_form_for @evaluation, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :nom, :label => 'Nom et prénom', :required => false, wrapper_html: { class: 'email-field evaluation-input' } %>
        <%= f.input :email, :label => 'Email', :required => false, wrapper_html: { class: 'evaluation-input' } %>
        <%= f.input :phone_number, :label => 'Numéro de téléphone', :required => false, wrapper_html: { class: 'evaluation-input' } %> 
        <%= f.input :code_postal, :label => 'Code postal', :required => false, wrapper_html: { class: 'evaluation-input' } %> 
        <%= label_tag :'Description de la voiture :', nil, :class => "description-label string evaluation-input" %>
        <%= f.input :description, :label => 'marque, modèle, année, motorisation, finition, kilométrage', :required => false, wrapper_html: { class: 'evaluation-input' } %>
        <div class="form-aide">Rassurez-vous si vous n'avez pas toute l'information, <span>nous vous aiderons à la trouver !</span></div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="evaluation-button">
        <%= f.button :submit, 'Envoyer à l\'équipe N7', :class=> "evaluation-form-button" %>
      </div>
       <% end %>
    </div>

    <div class="vendre-bottom-explanation">
      
      <div class="vendre-bottom-row">
        <p class="vendre-bottom-title">PLACE À LA SIMPLICITÉ</p>

        <div class="vendre-bottom-section-wrap">

          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-rendez-vous.jpg', class: "vendre-picto-img") %>
            </div>
            <p class="vendre-bottom-copy"><span>Prenez rendez-vous pour</span><span> l'inspection, où et quand cela</span><span> vous arrange, gratuitement.</span></p>
          </div>
          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-meilleur-prix.jpg', class: "vendre-picto-img") %>
            </div>
            <p class="vendre-bottom-copy"><span>Nous vous donnerons un prix final,</span><span>avant la mise-en-marché.</span>Garanti plus élevé que chez un concessionnaire.</p>
          </div>
          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-utiliser-voiture.jpg', class: "vendre-picto-img") %>
            </div>  
            <p class="vendre-bottom-copy"><span>Continuez d'utiliser votre auto</span><span>le temps que l'on trouve votre</span><span>futur acheteur.</span></p>
          </div>
        </div>
      </div>

      <div class="vendre-bottom-row">
        <p class="vendre-bottom-title">C'EST L'HEURE DE SE DIRE AU-REVOIR</p>

        <div class="vendre-bottom-section-wrap">
          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-acheteur.jpg', class: "vendre-picto-img") %>
            </div>
            <p class="vendre-bottom-copy"><span>Un acheteur s'est</span><span>manifesté, nous venons chez</span><span>vous enlever la voiture.</span></p>
          </div>
          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-paperasse.jpg', class: "vendre-picto-img") %>
            </div>
            <p class="vendre-bottom-copy"><span>La paperasse sera prête, il n'y</span><span>aura plus qu'à signer</span></p>
          </div>
          <div class="vendre-bottom-section">
            <div class="vendre-picto-wrap">
              <%= image_tag('vendre-paiement-securise.jpg', class: "vendre-picto-img") %>
            </div>
            <p class="vendre-bottom-copy"><span>Nous sécurisons le paiement</span><span>grâce à nos partenaires</span><span>Lemonway et BNP Paribas.</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="vendre-bottom-white">
    </div>