<footer class="footer">

<div class="mascotte-div">
  <%= image_tag('mascotte-footer.png', class: "mascotte-footer hvr-buzz-out") %>
</div>

  <div class="footer-links">
    <%= link_to 'COMMENT ÇA MARCHE ?', comment_ca_marche_path, class: "footer-link" %>
    <%= link_to 'FAQ', foire_aux_questions_path, class: "footer-link" %>
    <%= link_to 'À PROPOS', a_propos_de_nationale_7_path, class: "footer-link" %>
    <%= link_to 'CONDITIONS GÉNÉRALES', conditions_generales_de_vente_path, class: "footer-link" %>
    <%= link_to 'MENTIONS LÉGALES', mentions_legales_path, class: "footer-link" %>
  </div>

  <div class="social-buttons">
    <a href="https://www.facebook.com/N7officiel/" target="_blank" class="fa fa-facebook fa-2x hvr-grow social-icon"></a>
    <a href="https://twitter.com/N7_officiel" target="_blank" class="fa fa-twitter fa-2x hvr-grow social-icon"></a>
    <a href="https://www.linkedin.com/company/nationale-7.fr" target="_blank" target="_blank" class="fa fa-linkedin fa-2x hvr-grow social-icon"></a>
  </div>

  <div class="corporate-details">
    <p>© Nationale 7 - 2016 - Tous droits réservés</p>
    <p class="corpo-p">Nationale 7 SAS - SIREN 820 295 558</p>
    <p class="corpo-p">TVA intracommunautaire FR 81 820295558</p>
    <p class="corpo-p">14 rue Soleillet, 75020 Paris</p>
    <%= image_tag("logo-lemonway-white.png", id:'lemonway-partner-logo' ) %>
    <p class="lemonway-partner-statement"><span>Partenaire de Lemon Way,</span><span> établissement de paiement</span><span> agréé par l’ACPR en France (CIB 16568).</span></p>

  </div>

</footer>