<footer>
  <%= link_to 'Comment ça marche ?', commentcamarche_path %>
  <%= link_to 'FAQ', faq_path %>
  <%= link_to 'À propos', apropos_path %>
  <%= link_to 'cgv', cgv_path %>
  <%= link_to 'Mentions légales', mentionslegales_path %>
  <p>Fait avec amour en France</p>
</footer>